[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-identity = "*"
azure-mgmt-resource = "*"
azure-monitor-query = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
